- html_title @article.html_title
- html_meta @article.meta

/ MAIN
#main
  .wrapper.clearfix
    / posts list
    #posts-list.single-post
      %h2.page-heading
        %span= @article.title
      %article.format-standard
        .entry-date
          .number= @article.date.day
          .year=l @article.date, format: :short_month
        .feature-image
          = link_to @article.image.encode('jpg').url, class: 'gallery', rel: 'gallery_js' do
            = image_tag @article.image.thumb('960x473#').url, alt: @article.title if @article.image_uid
        %h2.post-heading= link_to @article.title, article_path(@article.my_path)
        .post-content=raw @article.text

    = render 'sidebar'
