- html_title @page.html_title
- html_meta @page.meta

#main
  .wrapper.clearfix
    / page content
    #page-content.clearfix
      / fullwidth content
      .fullwidth-content
        %h2.page-heading
          %span= @page.title

        = raw @page.text

        %table
          %thead
            %tr
              %th №
              %th Игрок
              %th
                Сыграно
                %span побед/всего
              %th
                За мирных
                %span побед/всего
              %th
                За комиссара
                %span побед/всего
              %th
                За мафию
                %span побед/всего
              %th
                За дона
                %span побед/всего
              %th Первая кровь
              %th Сумма баллов
          %tbody
            - Member.order('rating DESC').each_with_index do |member, index|
              %tr
                %td= index + 1
                %td= member.nick
                %td #{member.win_game_count} / #{member.game_count}
                %td #{member.win_game_piece_count} / #{member.game_piece_count}
                %td #{member.win_game_commissar_count} / #{member.game_commissar_count}
                %td #{member.win_game_mafia_count} / #{member.game_mafia_count}
                %td #{member.win_game_don_count} / #{member.game_don_count}
                %td= member.first_die_count
                %td= member.rating