- html_title @member.html_title

#main
  .wrapper.clearfix
    / page content
    #page-content.clearfix
      / fullwidth content
      .fullwidth-content
        %h2.page-heading
          %span= "Личное дело: " + @member.nick_with_gender

        #project-content.clearfix

          .project-heading
            -#%h2 Личное дело
            -#.clearfix


            -#.profile-description{:style=>'float:right;'}= image_tag @member.avatar.thumb('220x280#').url, alt: @member.nick_with_gender


          .project-info{:style=>'float:right;'}
            - if @member.avatar_uid
              = image_tag @member.avatar.thumb('220x280#').url, alt: @member.nick_with_gender

            %p
              %strong Настоящее имя:
              %br/
              = @member.name
            %p
              %strong Статистика:
              %br
              Сыграно игр (побед/всего):
              %strong
                #{@member.win_game_count} / #{@member.game_count}
              %br
              За мирных (побед/всего):
              %strong
                #{@member.win_game_piece_count} / #{@member.game_piece_count}
              %br
              За комиссара (побед/всего):
              %strong
                #{@member.win_game_commissar_count} / #{@member.game_commissar_count}
              %br
              За мафию (побед/всего):
              %strong
                #{@member.win_game_mafia_count} / #{@member.game_mafia_count}
              %br
              За дона (побед/всего):
              %strong
                #{@member.win_game_don_count} / #{@member.game_don_count}
              %br
              Первая кровь:
              %strong
                #{@member.first_die_count}
              %br
              Рейтинг:
              %strong
                = @member.rating.round
            %p
              %strong
                Место в рейтинге:

              = Member.where('rating > ?', @member.rating).count + 1
            -#%table
              %tr
                %td
                  Сыграно игр
                  %span побед/всего
                %td #{@member.win_game_count} / #{@member.game_count}
              %tr
                %td
                  За мирных
                  %span побед/всего
                %td #{@member.win_game_piece_count} / #{@member.game_piece_count}
              %tr
                %td
                  За комиссара
                  %span побед/всего
                %td #{@member.win_game_commissar_count} / #{@member.game_commissar_count}
              %tr
                %td
                  За мафию
                  %span побед/всего
                %td #{@member.win_game_mafia_count} / #{@member.game_mafia_count}
              %tr
                %td
                  За дона
                  %span побед/всего
                %td #{@member.win_game_don_count} / #{@member.game_don_count}
              %tr
                %td Первая кровь
                %td= @member.first_die_count
              %tr
                %td Рейтинг
                %td= @member.rating.round


          .project-description

            - prev_date = nil
            - Game.joins(:gamers).where("gamers.member_id = ?",@member.id).order(' id DESC').order(' date DESC').each_with_index do |game, index|
              - if prev_date != game.date
                - if !prev_date.nil?
                  %br
                  .clearfix &nbsp;
                - prev_date = game.date
                %h2= game.date
                %br



              .div.game_table
                %br
                %h4
                  = "Игра №#{game.id}"

                  - my_gamer = Gamer.where(member_id:@member.id, game_id:game.id).first
                  %span.tooltip{ :class=>my_gamer.rating.round >0 ? 'rating_plus':'rating_minus'}
                    -if my_gamer.rating.round >0
                      = "(+" + my_gamer.rating.round.to_s+")"
                    -else
                      = "("+my_gamer.rating.round.to_s+")"
                  - if game.game_role_type_id== 1
                    = '(Победа мирных)'
                  - else
                    = '(Победа мафии)'
                  %br
                  -#- game_elo = game.get_game_koef
                  -#= game_elo[:mafia_rating].round
                  -#= game_elo[:citizen_rating].round
                  -#%br
                  -#= 2*(1 - game_elo[:mafia_elo].round(3))
                  -#= 2*(1 - game_elo[:citizen_elo].round(3))
                %br
                %table
                  %thead
                    %tr

                      %th Ник
                      %th Роль
                      %th Рейтинг
                  %tbody


                    - game.gamers.each do |g|


                      %tr

                        %td{:class=>g.member_id == @member.id ? 'rating_table_bold' : ""}
                          №#{g.number}

                          #{g.member.gender} #{g.member.nick}
                          -if g.first_die
                            %img.tooltip{:title => "Убит в первую ночь", :src => "/assets/first_die.png", width:"13px"}/
                            -if g.guess_2
                              %span.tooltip{:title => "Угадал 2х мафий"}
                                x2
                            -if g.guess_3
                              %span.tooltip{:title => "Угадал 3х мафий"}
                                x3
                        %td{:class=>'role_'+g.game_role_id.to_s}

                          #{g.game_role.name}

                        %td
                          - title = 'Рейтинг:'
                          - tmp_rating = g.rating

                          - point = 1
                          - if game.game_role_type_id == PIECE
                            - if g.game_role_id == PIECE
                              - point = CITIZEN_PLUS_COUNT
                            - if g.game_role_id == COMMISSAR
                              - point = COMMISSAR_PLUS_COUNT
                            - if g.game_role_id == MAFIA
                              - point = MAFIA_MINUS_COUNT
                            - if g.game_role_id == DON
                              - point = DON_MINUS_COUNT
                          -else
                            - if g.game_role_id == PIECE
                              - point = CITIZEN_MINUS_COUNT
                            - if g.game_role_id == COMMISSAR
                              - point = COMMISSAR_MINUS_COUNT
                            - if g.game_role_id == MAFIA
                              - point = MAFIA_PLUS_COUNT
                            - if g.game_role_id == DON
                              - point = DON_PLUS_COUNT

                          -title_dop = ''
                          -if g.first_die
                            - title_dop = '<br> +'+FIRST_DIE_COUNT.to_s+' первая кровь'
                            - tmp_rating -= FIRST_DIE_COUNT
                          -if g.guess_2
                            - title_dop += '<br> +'+GUESS_2.to_s+' угадал двух мафий'
                            - tmp_rating -= GUESS_2
                          -if g.guess_3
                            - title_dop += '<br> +'+GUESS_3.to_s+' угадал трех мафий'
                            - tmp_rating -= GUESS_3
                          - koef = (tmp_rating * 1.0) / point
                          - title += "<br>" + (koef >= 0 ? "+" :'-')+ koef.abs.round(2).to_s+' * ' + point.to_s + ' = ' + (koef >= 0 ? "+" :'-') + tmp_rating.abs.round.to_s + title_dop

                          %span.tooltip{:title => title}
                            = g.current_rating.round
                          %span.tooltip{:title=>title, :class=>g.rating.round >0 ? 'rating_plus':'rating_minus'}
                            -if g.rating.round >0
                              = "(+" + g.rating.round.to_s+")"
                            -else
                              = "("+g.rating.round.to_s+")"


          -#.related-projects
            .related-heading Related projects
            .related-list
              %figure
                %a.thumb{:href => "#"}
                  %img{:alt => "Alt text", :src => "img/dummies/featured-1.jpg"}/
                %a.heading{:href => "single.html"} Pellentesque habitant morbi
              %figure
                %a.thumb{:href => "#"}
                  %img{:alt => "Alt text", :src => "img/dummies/featured-2.jpg"}/
                %a.heading{:href => "single.html"} Pellentesque habitant morbi
              %figure
                %a.thumb{:href => "#"}
                  %img{:alt => "Alt text", :src => "img/dummies/featured-3.jpg"}/
                %a.heading{:href => "single.html"} Pellentesque habitant morbi
              %figure.last
                %a.thumb{:href => "#"}
                  %img{:alt => "Alt text", :src => "img/dummies/featured-4.jpg"}/
                %a.heading{:href => "single.html"} Pellentesque habitant morbi
            .clearfix
        / ENDS related
        / ENDS project content


        -#- @member.gamers.each do |gamer|

        -#%table
        -#  %thead
        -#    %tr
        -#      %th №
        -#      %th Игрок
        -#      %th
        -#        Сыграно игр
        -#        %span побед/всего
        -#      %th
        -#        За мирных
        -#        %span побед/всего
        -#      %th
        -#        За комиссара
        -#        %span побед/всего
        -#      %th
        -#        За мафию
        -#        %span побед/всего
        -#      %th
        -#        За дона
        -#        %span побед/всего
        -#      %th Первая кровь
        -#      %th Рейтинг
        -#  %tbody
        -#    - Member.unscoped.where('game_count > 5').order('rating DESC').each_with_index do |member, index|
        -#      = render 'member', member: member, index: index
        -#
        -#    %tr
        -#      %td{:colspan=>10}
        -#        %span Рейтинг игроков сыгравших меньше 5 игр
        -#
        -#    - Member.unscoped.where('game_count <= 5').order('rating DESC').each_with_index do |member, index|
        -#      = render 'member', member: member, index: index